<div class="center jumbotron">
    <h1>Barka da zoua to MesRecettes</h1>
    <h2>This is the home page for Les Recettes Africaines</h2>
    <%= link_to 'Sign up now!', register_path, class: 'btn btn-long btn-success' %>
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">View Recipes as Guest</h3>
        <h2 class="left">Browse and View Recipes as Guest. Sign up!</h2>
        <p><%= link_to 'Browse recipes listing', recipes_path, class: 'btn btn-small btn-warning'%></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">Sign in to your account</h3>
        <h2 class="left">Manage your account, review like-dislike and much more</h2>
        <p><%= link_to 'Log in to your account', login_path, class: 'btn btn-small btn-warning'%></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">View Recipes as Guest</h3>
        <h2 class="left">Browse and View Recipes as Guest. Sign up!</h2>
        <p><%= link_to 'Browse recipes listing', '', class: 'btn btn-small btn-warning'%></p>
    </div>
</div><!--/.row-->


